<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='guess'/>
      <input type='submit' name='Give it a whirl!' />
    </form>
    <h1>
      <%= response %>
    </h1>
      <p><%= number%></p>
  </body>
</html>
