<html>
  <head>
    <style>
      body {
        background-color: <%= background %>;
      }
      * {
        text-align: center;
      }

    </style>
  </head>
  <body>
    <h1>Welcome to the Number Guessing Game</h1>
    <h2><%= response %></h2>
    <form>
      <input type='text' name='guess'/>
      <input type='submit' name='Give it a whirl!' />
    </form>
      <p><%= number%> </p>
  </body>
</html>
